body
{
	margin: 1em auto;
	font-size : 16px;
	font-family : 'Source sans Pro', Calibri, Tahoma, sons-serfi;
	background-color:#DCDCDC
}

table
{
	width : 80%	

}



h1
{
	font-weight: bold;
	text-transform : uppercase;
	color: black;
}

h2
{
	font-size: 1.4em;
	color: #3388BB;
	text-transform : uppercase;
	text-align:center;

}

h3
{
	font-size: 1em;
	color: black;
	
}


em
{
	color: black;
}

tr
{
	color: black;
	text-align:justify;
}

.genaral_info
{
	text-align: justify;
	line-height: 70%
}


.titref
{
	font-size : 16px;
	font-weight: bold;
	color: black;

}
.titreexp
{
	font-size : 16px;
	font-weight: bold;
	color: black;

}


#LANGUES
{
	line-height: 20%
}

#FORMATION
{
	line-height: 20%
}

#COMPÉTENCES
{
	line-height: 20%
}

#EXPÉRIENCES
{
	line-height: 20%
}

#AUTRES
{
	line-height: 20%
}

#Hobbys
{
	line-height: 20%
}
