body
{
	margin: 1em auto;
	font-size : 16px;
	font-family : 'Source sans Pro', Calibri, Tahoma, sons-serfi;
	background-image: url("images/monfond.jpg");
}

table
{
	width:100%;
}

h1
{
	font-weight: bold;
	text-transform : uppercase;
	color: black;
}

h2
{
	font-size: 1.4em;
	color: #3388BB;
	text-transform : uppercase;
	text-align:center;

}

h3
{
	font-size: 1em;
	color: black;
	text-transform : uppercase;
	text-align:justify;

}


em
{
	color: black;
}

tr
{
	color: black;
	text-align:justify;
}

.genaral_info
{
	text-align: center;
	line-height: 70%
}



.contenu_fomation
{
	text-align: justify;

}

.titref
{
	font-size : 16px;
	font-weight: bold;
	color: black;

}
.titreexp
{
	font-size : 16px;
	font-weight: bold;
	color: black;

}



